Configure("""
receiver      = 'RcvrArray75_115'       # Argus receiver
beam          = 'all'                   # use all 16 beams
obstype       = 'Spectroscopy'          # observing type
backend       = 'VEGAS'                 # use VEGAS backend
restfreq      = 93173.704               # rest frequency in MHz, here for N2H+(1-0)
bandwidth     = 187.5                   # VEGAS mode 5 has a bandwidth of 187.5 MHz
swmode        = 'sp_nocal'              # switching mode
swtype        = 'fsw'                   # switching type
swper         = 1.0                     # switching period in s
swfreq        = -12.5, 12.5             # switching frequencies in MHz
tint          = 1.0                     # integration time
vframe        = 'lsrk'                  # velocity frame
vdef          = 'Radio'                 # velocity definition
pol           = 'Linear'                # polarization
nchan         = 65536                   # number of channels
sideband      = 'LSB'
vegas.subband = 1 
""")

