# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
alabaster
babel
beautifulsoup4
colorama
cryptography
docutils
idna
imagesize
importlib-metadata
livereload
numpydoc
sphinx==7.2.6
sphinx-autobuild
sphinx-automodapi
sphinx-basic-ng
sphinx-book-theme
sphinx-copybutton
sphinx-design
sphinx-hoverxref
#sphinx-idl
git+https://github.com/aschmiedeke/sphinx-idl.git@master
sphinx-inline-tabs
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
